    
<div class="home-container">
    <div class="home-img">
    
        <div class="nav-btn">
            <nav>
                <ul>
                  <a ><li>Add Restorent</li></a>
                  <a routerLink="/login"><li >log In</li></a>
                  <a routerLink="/singup"><li>Sign Up</li></a>
                </ul>
            </nav>
        </div>
        <div class="heading">
            <div class="brand-name">
                <!-- <img src="./Heading.jpg" alt=""> -->
                <h1>Zomato</h1>
        </div>  
          <div class="moto">
            <pre>Find the best restaurants, cafés
     and bars in India</pre>
          </div>
        </div>
    </div>
    <div class="para">
        <h4 >Popular locations in <img src="https://b.zmtcdn.com/images/flags_z10/in.png?output-format=webp" alt="flag" style="height: 2vw;"> India</h4>
        <p>From swanky upscale restaurants to the cosiest hidden gems serving the most incredible food, Zomato covers it all. Explore menus, and millions of restaurant photos and reviews from users just like you, to find your next great meal.</p>
    </div>

    <div class="resto-list">
        <app-city-list></app-city-list>
    </div>
</div>