.details-header{
    /* position: sticky; */
    display: flex;
    padding : 0px 100px;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    /* border: 3px solid red; */
    /* background-color: black; */
    

}

h2{
    font-size: 35px;
    font-weight: 600;
}
.sec2{
    height: 50px;
    width: 50vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    /* align-content: center; */
    column-gap: 30px;
    margin: 0px 30px;
}

.sec2 .searchbar {

    width:60vw;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
    height: 100%;
    
}

.searchbar .city {
    width: 20%;
}
.searchbar .search {
    width:60%;
}
.searchbar .search input{

    border-left: none;
    width: 100%;
    /* border-radius: 0px 10px 10px 0px; */

}
.searchbar .city input{
    border-right: none;
    /* border-radius: 10px 0px 0px 10px; */
}

.searchbar input{
    border-radius: 10px;
    width: 100%;
    height: 35px;
    font-size: 24px;
    padding: 5px 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.login-option{
    
    width: 35vw;
    display: flex;
   justify-content: center;
   align-items: center; 
   column-gap: 40px; 
}




 nav ul {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
     font-weight: 100;
     display: flex;
     
    column-gap: 1.5vw;
}

a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;

}
/*
ul li {
padding: 10px;
font-size: 1rem;
} */