<div class="details-header">
    <div class="logo">
        <a routerLink="/home"><H2>ZOMATO</H2></a>
    </div>
    <div class="sec2">
        <div class="searchbar">
            <div class="city" ><input type="text" placeholder="city"></div>
            <div class="search" ><span><input type="text" placeholder=" Search food 😋"></span></div>
        </div>
            <div class="login-option">
                <nav>
                    <ul>
                        <a routerLink="/login"><li >log In</li></a>
                        <a routerLink="/singup"><li>Sign Up</li></a>
                    </ul>
                </nav>
            </div>
            <!-- <div class="logged-in">

            </div> -->
        
    </div>

</div>