<div class="card-container">
    <div class="dish-img">
        <img src="" alt="">
    </div>
    <div class="text-details">
        <div class="text">
            <div><h2>New Pizza King</h2></div>
            <div><p>rating 4.2</p></div>
        </div>
        <div class="text">
            <div><p>pizza, Fast Food</p></div>
            <div><p> $30 for one</p></div>
        </div>
    </div>
    <div class="distance"><p>28 min</p></div>
    <div class="break"></div>
    <div class="delivery-note">
        <div class="tag"><img src="https://b.zmtcdn.com/data/o2_assets/695598f38d29d0e5d3f8ffe57cfdb94c1613145422.png?output-format=webp" alt=""></div>
        <div class="note">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis veritatis error iure.</div>
    </div>
</div>