<div class="card-container">
    <div class="dish-img">
        <img [src]="restaurentCard.imagePath" alt="">
    </div>
    <div class="text-details">
        <div class="text1">
            <div><h2>{{restaurentCard.restaurentName}}</h2></div>
            <div class="rating"><p>{{restaurentCard.rating}} <i class='bx bxs-star'></i></p></div>
        </div>
        <div class="text2">
            <div *ngFor="let item of restaurentCard.speciality" class="sp">{{item}} </div>
            <div class="sec2"><p> ${{restaurentCard.price}} for one</p></div>
        </div>
    </div>
    <div class="distance"><p>{{restaurentCard.distance}} min</p></div>
    <div class="break"></div>
    <div class="delivery-note">
        <div class="tag"><img src="https://b.zmtcdn.com/data/o2_assets/695598f38d29d0e5d3f8ffe57cfdb94c1613145422.png?output-format=webp" alt=""></div>
        <div class="note">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis veritatis error iure.</div>
    </div>
</div>