@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

.card-container{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center ;
    align-content: center;
    width: 400px;
    height: 450px;
    /* border: 2px solid black; */
    row-gap: 10px;
    border-radius: 20px;
    /* margin: 20px; */
}
.card-container:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
p{
    padding: 0;
    margin: 0;
}

.dish-img{
    border-radius: 20px 20px 0px 0px;
    width: inherit;
    height: 100%;
    overflow: hidden;
    /* max-height: inherit ; */
    /* background-image: url(""); */
    background-size: cover;
    background-repeat: no-repeat;
}
.dish-img img{
    border-radius: 20px 20px 0px 0px;
    width: inherit;
    height: inherit;
}
.text-details{
    width: 100%;
    /* margin-top: 1px; */
    display: flex;
    /* row-gap: 10px; */
    flex-direction: column;
    align-items: center;

}
.text2{
    box-sizing: border-box;
    padding-left:  20px;
    width: inherit;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    align-items: center;
}
.text2 .sec2{
    position: relative;
    left: 25%;
}
.text1{
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 30px; */
}
.sp{
    margin: 0;padding: 0;
    text-align: center;
    display: inline;
    /* margin:0px 5px; */
    align-content: start;
    /* justify-self:center; */
    column-gap: 1px;

}
.distance{
    padding-right: 25px;
    align-self: flex-end;
}
.break{
    width: inherit;
    height: 5px;
    background-color: gray;
}
.delivery-note{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.delivery-note img{
    width: 80%;
}