.main-details-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}
.header{
    text-align: center;
    height: 18%;
    position:absolute;
    top: 0%;
}
.details-container{
    align-self: last baseline;
    border: 3px solid green;
    height: 100%;
    width: 100%;
}