.main-details-container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;  
}
.header{
    text-align: center;
    height: 18%;
    align-self: center;
    justify-self: center;
   
}
.filer{
    height:inherit;
    width: inherit;
    margin-top: 20px;
    display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
 
}
.details-container{
    /* position: relative; */

    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    height:inherit;
    width: inherit;

    
}