.main-details-container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    
}
.header{
    text-align: center;
    height: 18%;
    align-self: center;
    justify-self: center;
    /* position: sticky;
    top:0; */
    /* position:absolute;
    top: 0%; */

}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 60px;
    text-align: center;
    height: 100%;
    width: 100%;
}