.app-container{
    display: flex;
    flex-direction: column;
    width: 100% ;
    height: 100%    ;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* background-color:green; */
}

.footer{
    margin-top: 30px;
    position:sticky;
    /* bottom: 0%; */
}