<div class="footer-container">
    <div class="select-option">
        <div class="logo"><H2>Zomato</H2></div>
        <div class="selects">
            <select name="country" id="country" class="country">
                <option value="India">India</option>
                <option value="India">India</option>
                <option value="India">India</option>
            </select>

            <select name="lang" id="lang" class="lang">
                <option value="India">Marathi</option>
                <option value="India">Hindi</option>
                <option value="India">Eng</option>
            </select>
        </div>
    
    
    
    </div>

    <div class="quick-links">
        <div class="link-section">
            <h2>ABOUT ZOMATO</h2>
            <UL>
                <a href=""><li>Who We Are</li></a>
                <a href=""><li>Blog</li></a>
                <a href=""><li>Test Data</li></a>
                <a href=""><li>Test Data</li></a>
                <a href=""><li>Test Data</li></a>
            </UL>
        </div>  

        <div class="link-section">
            <h2>ZOMAVERSE</h2>
            <UL>
                <a href=""><li>Who We Are</li></a>
                <a href=""><li>Blog</li></a>
                <a href=""><li>Test Data</li></a>
                <a href=""><li>Test Data</li></a>
                <a href=""><li>Test Data</li></a>
            </UL>
        </div> 

        <div class="sub-sections">
            <div class="link-section">
                <h2>FOR RESTORANTS</h2>
                <UL>
                    <a href=""><li>Who We Are</li></a>
                    <a href=""><li>Blog</li></a>
                
                </UL>
            </div>  
            <div class="link-section">
                <h2>FOR ENTERPRISESS</h2>
                <UL>
                    <a href=""><li>Who We Are</li></a>
                    <a href=""><li>Blog</li></a>
                    
                </UL>
            </div>  
        </div>
        <div class="link-section">
            <h2>LEARN MORE</h2>
            <UL>
                <a href=""><li>Who We Are</li></a>
                <a href=""><li>Blog</li></a>
                <a href=""><li>Test Data</li></a>
                <a href=""><li>Test Data</li></a>
                <a href=""><li>Test Data</li></a>
            </UL>
        </div>
        
        <div class="link-section">
            <h2>SOCIAL LINKS</h2>
           <ul class="social-media-links">
            <a href=""><li><i class='bx bxl-linkedin' ></i></li></a>
            <a href=""><li><i class='bx bxl-whatsapp'></i></li></a>
            <a href=""><li><i class='bx bxl-facebook-circle' ></i></li></a>
            <a href=""><li><i class='bx bxl-instagram' ></i></li></a>
            <a href=""><li><i class='bx bxl-twitter' ></i></li></a>
            <a href=""><li><i class='bx bxl-youtube' ></i></li></a>
        </ul>
        <ul class="stores-links">
            <a href=""><li><button><i class='bx bxl-play-store' ></i> Google PlayStore</button></li></a>
            <a href=""><li><button><i class='bx bxl-apple' ></i> Apple Store</button></li></a>
        </ul>
        </div>
    </div>


</div>
